
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combine Clips</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles-alt.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <h1>My Website</h1>
        
   <form action="/why" methods="POST">
        <input type="text" name="numClips" id="numClips">
        <input type="submit">
   </form>
   

    <div>
        <h1>Alternate testing space</h1>
        <input type="button" id="my-button" value="Select Files">
        <input type="file" name="my_file" id="my-file">
    </div>
    <script src="/static/scripts/main.js"></script>
</body>
</html>