<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <title>Document</title>
</head>
<body>
    <div id="header">
        <h1>Modify and sync your video and audio files!</h1>
        <div id="list">
            
            <ul class="buttons"><a href="/openCombineClips">Combine video clips </a></ul>
            
            <ul class="buttons"><a href="/templates/trimClips.html">Trim media to sync start time</a></ul>
            <ul class="buttons"><a href="/templates/replaceAudioFromVideo.html">Replace audio from video</a></ul>
        </div>
    </div>
    <div id="middleSection" class="headerText">
        <p id="welcome">Cracking stuff Tommy! You've successfuly combined two or more GoPro files!!!</p>
    </div>

    <div id="footer">
        <p>If you've got any problems or queries contact Tyler Best @ tbes0001@student.monash.edu</p>
    </div>
    
</body>
</html>